  deploy:
    needs: build-test-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        envs: IMAGE_TAG,IMAGE_NAME,CONTAINER_NAME
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            set -e
            echo "Deploying image tag: $IMAGE_TAG"

            echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
              -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

            docker pull ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG

            docker rm -f $CONTAINER_NAME || true

            docker run -d \
              --restart unless-stopped \
              --name $CONTAINER_NAME \
              -p 80:80 \
              ${{ secrets.DOCKER_USERNAME }}/$IMAGE_NAME:$IMAGE_TAG

            curl -f http://localhost
